.page-header {
  /* background-image: linear-gradient(
    225deg,
    #ff9e35 0,
    #f7a529 5.56%,
    #e9ac1f 11.11%,
    #dab218 16.67%,
    #cbb817 22.22%,
    #babd1d 27.78%,
    #a9c127 33.33%,
    #96c533 38.89%,
    #81c941 44.44%,
    #6acc50 50%,
    #4dcf60 55.56%,
    #16d170 61.11%,
    #00d381 66.67%,
    #00d493 72.22%,
    #00d5a5 77.78%,
    #00d6b7 83.33%,
    #00d6c9 88.89%,
    #00d6db 94.44%,
    #00d6ec 100%
  ); */
  background-color: red;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
  color: #ffffff;
  font-size: 36pt;
  text-decoration: none;
}

.content {
  margin-left: 40px;
}

h1,
h2,
h3,
h4 {
  font-family: "Lobster", cursive;
}

.date {
  color: #828282;
}

.save {
  float: right;
}

.post-form textarea,
.post-form input {
  width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
  color: #ffffff;
  float: right;
  font-size: 26pt;
  margin-right: 20px;
}

.post {
  margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
  color: #000000;
}
